[Unit]
Description=Restore the "/mnt/test" filesystem
Documentation=https://github.com/nmasse-itix/Systemd-Examples
After=mnt-test.mount
Requires=mnt-test.mount
RequiresMountsFor=/mnt/backup
ConditionPathIsMountPoint=!/mnt/test
ConditionPathExists=/mnt/backup/mnt-test.tar

[Service]
Type=oneshot
ExecStart=tar -xf /mnt/backup/mnt-test.tar -C /mnt/test
ExecStartPost=rm -f /mnt/backup/mnt-test.tar
